service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update, delete: if request.auth.uid == userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

